.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
dev/*
paper/nsf_proposal/docs/Project_Description_files/*
paper/nsf_proposal/Project_Description_files/*
paper/nsf_proposal/Project_Description_cache/*
paper/nsf_proposal/docs/site_libs/*
